openapi: 3.0.1
info:
  title: checkout-backend-external.API
  version: v2
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: "#/components/schemas/CheckoutSessionThirdPartyInformationHeaders"
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: "#/components/schemas/MerchantAuthInfoHeadersV1"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV1"
          text/json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV1"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV1"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionInitiationResponse"
  "/v1/session/{sessionId}":
    get:
      tags:
        - Session
      summary: "Retrieves sessionInfo from database when merchant polls.\r\nTransaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: "#/components/schemas/CheckoutSessionThirdPartyInformationHeaders"
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: "#/components/schemas/MerchantAuthInfoHeadersV1"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponseV1"
        "404":
          description: The specified session id is unknown.
  /v2/session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: "#/components/schemas/CheckoutSessionThirdPartyInformationHeaders"
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: "#/components/schemas/MerchantAuthInfoHeadersV2"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV2"
          text/json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV2"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CheckoutSessionInitiationRequestDtoV2"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutSessionInitiationResponse"
  "/v2/session/{sessionId}":
    get:
      tags:
        - Session
      summary: "Retrieves sessionInfo from database when merchant polls.\r\nTransaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: "#/components/schemas/CheckoutSessionThirdPartyInformationHeaders"
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: "#/components/schemas/MerchantAuthInfoHeadersV2"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponseV2"
        "404":
          description: The specified session id is unknown.
  /v2/session/cancel:
    post:
      tags:
        - Session
      summary: Cancels the current Checkout session if payment is not initiated
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: "#/components/schemas/CheckoutSessionThirdPartyInformationHeaders"
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: "#/components/schemas/MerchantAuthInfoHeadersV2"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelSessionRequest"
          text/json:
            schema:
              $ref: "#/components/schemas/CancelSessionRequest"
          application/*+json:
            schema:
              $ref: "#/components/schemas/CancelSessionRequest"
      responses:
        "200":
          description: ""
        "404":
          description: The specified session id is unknown.
components:
  schemas:
    Amount:
      type: object
      properties:
        currency:
          type: string
          nullable: true
        value:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    AmountV1:
      type: object
      properties:
        value:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
      additionalProperties: false
    AmountV2:
      type: object
      properties:
        value:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
      additionalProperties: false
    BillingDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
      description: Defines the details of the invoiced customer (purchaser) of the order.
    CancelSessionRequest:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationRequestDtoV1:
      type: object
      properties:
        merchantInfo:
          $ref: "#/components/schemas/PaymentMerchantInfoV1"
        transaction:
          $ref: "#/components/schemas/PaymentTranactionV1"
        shippingOptions:
          type: array
          items:
            $ref: "#/components/schemas/ShippingOptionV1"
          nullable: true
        prefillInformation:
          $ref: "#/components/schemas/PrefillInformationV1"
      additionalProperties: false
    CheckoutSessionInitiationRequestDtoV2:
      type: object
      properties:
        merchantInfo:
          $ref: "#/components/schemas/PaymentMerchantInfo"
        transaction:
          $ref: "#/components/schemas/PaymentTransaction"
        logistics:
          $ref: "#/components/schemas/Logistics"
        prefillCustomer:
          $ref: "#/components/schemas/PrefillCustomer"
        customerInteraction:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationResponse:
      type: object
      properties:
        token:
          type: string
          nullable: true
        checkoutFrontendUrl:
          type: string
          nullable: true
        pollingUrl:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionThirdPartyInformationHeaders:
      type: object
      properties:
        vipps-System-Name:
          type: string
          nullable: true
        vipps-System-Version:
          type: string
          nullable: true
        vipps-System-Plugin-Name:
          type: string
          nullable: true
        vipps-System-Plugin-Version:
          type: string
          nullable: true
      additionalProperties: false
    Logistics:
      type: object
      properties:
        dynamicOptionsCallback:
          type: string
          nullable: true
        fixedOptions:
          type: array
          items:
            $ref: "#/components/schemas/LogisticsOption"
          nullable: true
      additionalProperties: false
    LogisticsOption:
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/Amount"
        id:
          type: string
          nullable: true
        priority:
          type: integer
          format: int32
          nullable: true
        brand:
          type: string
          nullable: true
        product:
          type: string
          nullable: true
        isDefault:
          type: boolean
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    MerchantAuthInfoHeadersV1:
      type: object
      properties:
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        ocp-Apim-Subscription-Key:
          type: string
          nullable: true
      additionalProperties: false
    MerchantAuthInfoHeadersV2:
      type: object
      properties:
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        ocp-Apim-Subscription-Key:
          type: string
          nullable: true
        merchant-Serial-Number:
          type: string
          nullable: true
      additionalProperties: false
    PaymentDetailsV1:
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/AmountV1"
        state:
          type: string
          nullable: true
        transactionAggregate:
          $ref: "#/components/schemas/TransactionAggregateV1"
      additionalProperties: false
    PaymentDetailsV2:
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/AmountV2"
        state:
          type: string
          nullable: true
        aggregate:
          $ref: "#/components/schemas/TransactionAggregateV2"
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        callbackPrefix:
          type: string
          nullable: true
        returnUrl:
          type: string
          nullable: true
        callbackAuthorizationToken:
          type: string
          nullable: true
        termsAndConditionsUrl:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMerchantInfoV1:
      type: object
      properties:
        merchantSerialNumber:
          type: string
          nullable: true
        callbackPrefix:
          type: string
          nullable: true
        returnUrl:
          type: string
          nullable: true
        callbackAuthorizationToken:
          type: string
          nullable: true
        termsAndConditionsUrl:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTranactionV1:
      type: object
      properties:
        amount:
          type: integer
          format: int32
        orderId:
          type: string
          nullable: true
        transactionText:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        amount:
          $ref: "#/components/schemas/Amount"
        reference:
          type: string
          nullable: true
        paymentDescription:
          type: string
          nullable: true
      additionalProperties: false
    PrefillCustomer:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    PrefillInformationV1:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    SessionResponseV1:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
        orderId:
          type: string
          nullable: true
        sessionState:
          type: string
          nullable: true
        paymentMethod:
          type: string
          nullable: true
        paymentDetails:
          $ref: "#/components/schemas/PaymentDetailsV1"
        userDetails:
          $ref: "#/components/schemas/UserDetailsV1"
        shippingDetails:
          $ref: "#/components/schemas/ShippingDetailsV1"
      additionalProperties: false
    SessionResponseV2:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
        reference:
          type: string
          nullable: true
        sessionState:
          type: string
          nullable: true
        paymentMethod:
          type: string
          nullable: true
        paymentDetails:
          $ref: "#/components/schemas/PaymentDetailsV2"
        userDetails:
          $ref: "#/components/schemas/UserDetailsV2"
        shippingDetails:
          $ref: "#/components/schemas/ShippingDetailsV2"
        billingDetails:
          $ref: "#/components/schemas/BillingDetailsV2"
      additionalProperties: false
    ShippingDetailsV1:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        shippingMethodId:
          type: string
          nullable: true
      additionalProperties: false
    ShippingDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        shippingMethodId:
          type: string
          nullable: true
      additionalProperties: false
      description: "Defines the shipping details of the recipient of the ordered goods.\r\nThe recipient may or may not be the same as the invoiced customer."
    ShippingOptionV1:
      type: object
      properties:
        isDefault:
          type: boolean
        priority:
          type: integer
          format: int32
        shippingCost:
          type: integer
          format: int32
        shippingMethod:
          type: string
          nullable: true
        shippingMethodId:
          type: string
          nullable: true
        shippingMethodLogoId:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    TransactionAggregateV1:
      type: object
      properties:
        cancelledAmount:
          $ref: "#/components/schemas/AmountV1"
        capturedAmount:
          $ref: "#/components/schemas/AmountV1"
        refundedAmount:
          $ref: "#/components/schemas/AmountV1"
        authorizedAmount:
          $ref: "#/components/schemas/AmountV1"
      additionalProperties: false
    TransactionAggregateV2:
      type: object
      properties:
        cancelledAmount:
          $ref: "#/components/schemas/AmountV2"
        capturedAmount:
          $ref: "#/components/schemas/AmountV2"
        refundedAmount:
          $ref: "#/components/schemas/AmountV2"
        authorizedAmount:
          $ref: "#/components/schemas/AmountV2"
      additionalProperties: false
    UserDetailsV1:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
      additionalProperties: false
    UserDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
      additionalProperties: false
      description: "Defines the user details of the recipient of the ordered goods.\r\n            \r\nUserDetailsV2 is deprecated. Use ShippingDetailsV2 instead"
      deprecated: true
