openapi: 3.0.1
info:
  title: checkout-backend.API
  version: v1
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /Healthcheck:
    get:
      tags:
        - Healthcheck
      summary: Check the health of the app.
      responses:
        '200':
          description: Health OK!
  /session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: client_id
          in: header
          required: true
          schema:
            type: string
        - name: client_secret
          in: header
          required: true
          schema:
            type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          required: true
          schema:
            type: string      
        - name: Vipps-System-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Version
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Version
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionInitiationResponse'
  /v1/session/{sessionId}:
    get:
      tags:
        - Session
      summary: "Retrieves sessionInfo from database when merchant polls. \r\nTransaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: client_id
          in: header
          required: true
          schema:
            type: string
        - name: client_secret
          in: header
          required: true
          schema:
            type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          required: true
          schema:
            type: string      
        - name: Vipps-System-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Version
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Version
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetailsForMerchant'
        '404':
          description: 'The specified session id is unknown.'                
components:
  schemas:
    CheckoutSessionInitiationRequestDto:
      type: object
      properties:
        MerchantInfo:
          $ref: '#/components/schemas/PaymentMerchantInfo'
        Transaction:
          $ref: '#/components/schemas/PaymentTransaction'
        ShippingOptions:
          type: array
          items:
            $ref: '#/components/schemas/ShippingOption'
          nullable: true
        PrefillInformation:
          $ref: '#/components/schemas/PrefillInformation'
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationResponse:
      type: object
      properties:
        Token:
          type: string
          nullable: true
        CheckoutFrontendUrl:
          type: string
          nullable: true
        PollingUrl:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionThirdPartyInformationHeaders:
      type: object
      properties:
        Vipps-System-Name:
          type: string
          nullable: true
        Vipps-System-Version:
          type: string
          nullable: true
        Vipps-System-Plugin-Name:
          type: string
          nullable: true
        Vipps-System-Plugin-Version:
          type: string
          nullable: true
      additionalProperties: false
    MerchantAuthInfoHeaders:
      type: object
      properties:
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        Ocp-Apim-Subscription-Key:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        MerchantSerialNumber:
          type: string
          nullable: true
        CallbackPrefix:
          type: string
          nullable: true
        FallbackUrl:
          type: string
          nullable: true
        CallbackAuthorizationToken:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        Amount:
          type: integer
          format: int32
        OrderId:
          type: string
          nullable: true
        TransactionText:
          type: string
          nullable: true
      additionalProperties: false
    PrefillInformation:
      type: object
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        Email:
          type: string
        PhoneNumber:
          type: string
        StreetAddress:
          type: string
        City:
          type: string
        PostalCode:
          type: string
        Country:
          type: string
      additionalProperties: false
    SessionDetailsForMerchant:
      type: object
      properties:
        SessionId:
          type: string
          nullable: true
        OrderId:
          type: string
          nullable: true
        SessionState:
          type: string
          nullable: true
        TransactionLogHistory:
          type: array
          items:
            $ref: '#/components/schemas/TransactionLogHistory'
          nullable: true
        TransactionSummary:
          $ref: '#/components/schemas/TransactionSummary'
        UserDetails:
          $ref: '#/components/schemas/UserDetails'
        ShippingDetails:
          $ref: '#/components/schemas/ShippingAddress'
      additionalProperties: false
    ShippingAddress:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
          readOnly: true
        LastName:
          type: string
          nullable: true
          readOnly: true
        StreetAddress:
          type: string
          nullable: true
          readOnly: true
        PostalCode:
          type: string
          nullable: true
          readOnly: true
        Region:
          type: string
          nullable: true
          readOnly: true
        Country:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    ShippingOption:
      type: object
      properties:
        IsDefault:
          type: boolean
        Priority:
          type: integer
          format: int32
        ShippingCost:
          type: integer
          format: int32
        ShippingMethod:
          type: string
          nullable: true
        ShippingMethodId:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    TransactionLogHistory:
      type: object
      properties:
        Amount:
          type: integer
          format: int32
        TransactionText:
          type: string
          nullable: true
        TimeStamp:
          type: string
          nullable: true
        Operation:
          type: string
          nullable: true
        OperationSuccess:
          type: boolean
        TransactionId:
          type: string
          nullable: true
      additionalProperties: false
    TransactionSummary:
      type: object
      properties:
        CapturedAmount:
          type: integer
          format: int32
        RemainingAmountToCapture:
          type: integer
          format: int32
        RefundedAmount:
          type: integer
          format: int32
        RemainingAmountToRefund:
          type: integer
          format: int32
        BankIdentificationNumber:
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    UserDetails:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        PhoneNumber:
          type: string
          nullable: true
        Email:
          type: string
          nullable: true
      additionalProperties: false