openapi: 3.0.1
info:
  title: checkout-backend-external.API
  version: v1
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: '#/components/schemas/CheckoutSessionThirdPartyInformationHeaders'
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: '#/components/schemas/MerchantAuthInfoHeaders'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionInitiationResponse'
  '/v1/session/{sessionId}':
    get:
      tags:
        - Session
      summary: "Retrieves sessionInfo from database when merchant polls. \r\nTransaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: '#/components/schemas/CheckoutSessionThirdPartyInformationHeaders'
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: '#/components/schemas/MerchantAuthInfoHeaders'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionDetailsForMerchant'
        '404':
          description: The specified session id is unknown.
components:
  schemas:
    Amount:
      type: object
      properties:
        Value:
          type: integer
          format: int32
        Currency:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationRequestDto:
      type: object
      properties:
        MerchantInfo:
          $ref: '#/components/schemas/PaymentMerchantInfo'
        Transaction:
          $ref: '#/components/schemas/PaymentTransaction'
        ShippingOptions:
          type: array
          items:
            $ref: '#/components/schemas/ShippingOption'
          nullable: true
        PrefillInformation:
          $ref: '#/components/schemas/PrefillInformation'
      additionalProperties: false
    CheckoutSessionInitiationResponse:
      type: object
      properties:
        Token:
          type: string
          nullable: true
        CheckoutFrontendUrl:
          type: string
          nullable: true
        PollingUrl:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionThirdPartyInformationHeaders:
      type: object
      properties:
        Vipps-System-Name:
          type: string
          nullable: true
        Vipps-System-Version:
          type: string
          nullable: true
        Vipps-System-Plugin-Name:
          type: string
          nullable: true
        Vipps-System-Plugin-Version:
          type: string
          nullable: true
      additionalProperties: false
    MerchantAuthInfoHeaders:
      type: object
      properties:
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        Ocp-Apim-Subscription-Key:
          type: string
          nullable: true
      additionalProperties: false
    PaymentDetails:
      type: object
      properties:
        Amount:
          $ref: '#/components/schemas/Amount'
        State:
          type: string
          nullable: true
        TransactionAggregate:
          $ref: '#/components/schemas/TransactionAggregate'
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        MerchantSerialNumber:
          type: string
          nullable: true
        CallbackPrefix:
          type: string
          nullable: true
        ReturnUrl:
          type: string
          nullable: true
        CallbackAuthorizationToken:
          type: string
          nullable: true
        TermsAndConditionsUrl:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        Amount:
          type: integer
          format: int32
        OrderId:
          type: string
          nullable: true
        TransactionText:
          type: string
          nullable: true
        SkipLandingPage:
          type: boolean
      additionalProperties: false
    PrefillInformation:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        Email:
          type: string
          nullable: true
        PhoneNumber:
          type: string
          nullable: true
        StreetAddress:
          type: string
          nullable: true
        City:
          type: string
          nullable: true
        PostalCode:
          type: string
          nullable: true
        Country:
          type: string
          nullable: true
      additionalProperties: false
    SessionDetailsForMerchant:
      type: object
      properties:
        SessionId:
          type: string
          nullable: true
        OrderId:
          type: string
          nullable: true
        SessionState:
          type: string
          nullable: true
        PaymentMethod:
          type: string
          nullable: true
        PaymentDetails:
          $ref: '#/components/schemas/PaymentDetails'
        UserDetails:
          $ref: '#/components/schemas/UserDetails'
        ShippingDetails:
          $ref: '#/components/schemas/ShippingDetails'
      additionalProperties: false
    ShippingDetails:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        StreetAddress:
          type: string
          nullable: true
        PostalCode:
          type: string
          nullable: true
        Region:
          type: string
          nullable: true
        Country:
          type: string
          nullable: true
      additionalProperties: false
    ShippingOption:
      type: object
      properties:
        IsDefault:
          type: boolean
        Priority:
          type: integer
          format: int32
        ShippingCost:
          type: integer
          format: int32
        ShippingMethod:
          type: string
          nullable: true
        ShippingMethodId:
          type: string
          nullable: true
        ShippingMethodLogoId:
          type: string
          nullable: true
        Description:
          type: string
          nullable: true
      additionalProperties: false
    TransactionAggregate:
      type: object
      properties:
        CancelledAmount:
          $ref: '#/components/schemas/Amount'
        CapturedAmount:
          $ref: '#/components/schemas/Amount'
        RefundedAmount:
          $ref: '#/components/schemas/Amount'
        AuthorizedAmount:
          $ref: '#/components/schemas/Amount'
      additionalProperties: false
    UserDetails:
      type: object
      properties:
        FirstName:
          type: string
          nullable: true
        LastName:
          type: string
          nullable: true
        PhoneNumber:
          type: string
          nullable: true
        Email:
          type: string
          nullable: true
      additionalProperties: false