openapi: 3.0.1
info:
  title: checkout-backend.API
  version: v1
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /Healthcheck:
    get:
      tags:
        - Healthcheck
      summary: Check the health of the app.
      responses:
        '200':
          description: Health OK!
  /session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: Vipps-System-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Version
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Version
          in: header
          required: true
          schema:
            type: string      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
      responses:
        '200':
          description: ''
  /v1/session/{sessionId}:
    get:
      tags:
        - Session
      summary: This endpoint is polled on by the merchant to retrieve information for a given session id.
      parameters:
        - name: client_id
          in: header
          required: true
          schema:
            type: string
        - name: client_secret
          in: header
          required: true
          schema:
            type: string
        - name: Ocp-Apim-Subscription-Key
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Version
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Name
          in: header
          required: true
          schema:
            type: string
        - name: Vipps-System-Plugin-Version
          in: header
          required: true
          schema:
            type: string           
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the session information for the given session id.
        '400':
          description: 'The specified session id is recognized, but no data is available yet (login flow or payment flow not yet completed by user).'
        '404':
          description: The specified session id is unknown.          
components:
  schemas:
    CheckoutPaymentInitiationRequestDto:
      type: object
      properties:
        PhoneNumber:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationRequestDto:
      type: object
      properties:
        CustomerInfo:
          $ref: '#/components/schemas/PaymentCustomerInfo'
        MerchantInfo:
          $ref: '#/components/schemas/PaymentMerchantInfo'
        Transaction:
          $ref: '#/components/schemas/PaymentTransaction'
      additionalProperties: false
    PaymentCustomerInfo:
      type: object
      properties:
        MobileNumber:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        MerchantSerialNumber:
          type: string
          nullable: true
        CallbackPrefix:
          type: string
          nullable: true
        FallBack:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        Amount:
          type: integer
          format: int32
        OrderId:
          type: string
          nullable: true
        TimeStamp:
          type: string
          nullable: true
        TransactionText:
          type: string
          nullable: true
      additionalProperties: false