openapi: 3.0.1
info:
  title: checkout-backend-merchant.API
  description: 'For details, see the [Checkout API Guide](https://vippsas.github.io/vipps-developer-docs/docs/APIs/checkout-api).'
  version: v2
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /v2/session:
    post:
      tags:
        - Session
      summary: Create a Checkout session
      description: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\nePayments landing page URL, free standing card page URL."
      parameters:
        - name: Vipps-System-Name
          in: header
          schema:
            type: string
            default: '{{vipps_system_name}}'
            example: Acme Enterprises Ecommerce DeLuxe
        - name: Vipps-System-Version
          in: header
          schema:
            type: string
            default: '{{vipps_system_version}}'
            example: '3.1.2'
        - name: Vipps-System-Plugin-Name
          in: header
          schema:
            type: string
            default: '{{vipps_system_plugin_name}}'
            example: acme-webshop
        - name: Vipps-System-Plugin-Version
          in: header
          schema:
            type: string
            default: '{{vipps_system_plugin_version}}'
            example: '4.5.6'
        - name: client_id
          in: header
          schema:
            type: string
            default: '{{client_id}}'
            example: fb492b5e-7907-4d83-bc20-c7fb60ca35de
        - name: client_secret
          in: header
          schema:
            type: string
            default: '{{client_secret}}'
            example: Y8Kteew6GE3ZmeycEt6egg==
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
            default: '{{Ocp-Apim-Subscription-Key}}'
            example: 0f14ebcab0eb4b29ae0cb90d91b4a84a
        - name: Merchant-Serial-Number
          in: header
          schema:
            type: string
            default: '{{merchantSerialNumber}}'
            example: '123456'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/InitiateSessionRequest'
              description: Request to set up a Checkout session
            examples:
              Postman:
                summary: Postman
                value: {"merchantInfo":{"callbackPrefix":"{{callbackPrefix}}","returnUrl":"{{fallBack}}","callbackAuthorizationToken":"{{$guid}}","termsAndConditionsUrl":"{{termsAndConditionsUrl}}"},"transaction":{"amount":{"currency":"{{currency}}","value":1000},"reference":"{{orderId}}","paymentDescription":"{{transactionTextInitiate}}"},"logistics":{"dynamicOptionsCallback":"{{dynamicOptionsCallbackUrl}}","fixedOptions":[{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke1","priority":1,"brand":"Posten","product":"home delivery","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"pick-up in store","isDefault":false,"description":"Pick up your package at the local store.","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}],"integrations":{"porterbuddy":{"publicToken":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","apiKey":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","origin":{"name":"{{firstName}} {{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","address":{"streetAddress":"{{streetAddress}}","postalCode":"{{postalCode}}","city":"{{city}}","country":"{{country}}"}}}}},"prefillCustomer":{"firstName":"{{firstName}}","lastName":"{{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","streetAddress":"{{streetAddress}}","city":"{{city}}","postalCode":"{{postalCode}}","country":"{{country}}"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
              Swagger:
                summary: Swagger
                value: {"merchantInfo":{"callbackPrefix":"https://example.com/vipps/callbacks-for-payment-update-from-vipps","returnUrl":"https://example.com/vipps/fallback-result-page-for-both-success-and-failure/acme-shop-123-order123abc","callbackAuthorizationToken":"c172ad8d-9499-41d4-b8ff-c689be6455e9","termsAndConditionsUrl":"https://example.com/vipps/terms-and-conditions"},"transaction":{"amount":{"currency":"NOK","value":2000},"reference":"store-order-123","paymentDescription":"One pair of socks"},"logistics":{"dynamicOptionsCallback":"https://example.com/vipps/dynamiclogisticsoption","fixedOptions":[{"amount":{"currency":"NOK","value":5000},"id":"postenservicepakke1","priority":1,"brand":"Bring","product":"Package to home","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"NOK","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"Package to pickup point","isDefault":false,"description":"Pick up your package at a pickup point","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}]},"prefillCustomer":{"firstName":"Ola","lastName":"Nordmann","email":"ola.nordmann@vipps.no","phoneNumber":"+4748644347","streetAddress":"Robert Levins gate 5","city":"Oslo","postalCode":"0150","country":"NO"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
          text/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/InitiateSessionRequest'
              description: Request to set up a Checkout session
            examples:
              Postman:
                summary: Postman
                value: {"merchantInfo":{"callbackPrefix":"{{callbackPrefix}}","returnUrl":"{{fallBack}}","callbackAuthorizationToken":"{{$guid}}","termsAndConditionsUrl":"{{termsAndConditionsUrl}}"},"transaction":{"amount":{"currency":"{{currency}}","value":1000},"reference":"{{orderId}}","paymentDescription":"{{transactionTextInitiate}}"},"logistics":{"dynamicOptionsCallback":"{{dynamicOptionsCallbackUrl}}","fixedOptions":[{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke1","priority":1,"brand":"Posten","product":"home delivery","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"pick-up in store","isDefault":false,"description":"Pick up your package at the local store.","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}],"integrations":{"porterbuddy":{"publicToken":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","apiKey":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","origin":{"name":"{{firstName}} {{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","address":{"streetAddress":"{{streetAddress}}","postalCode":"{{postalCode}}","city":"{{city}}","country":"{{country}}"}}}}},"prefillCustomer":{"firstName":"{{firstName}}","lastName":"{{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","streetAddress":"{{streetAddress}}","city":"{{city}}","postalCode":"{{postalCode}}","country":"{{country}}"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
              Swagger:
                summary: Swagger
                value: {"merchantInfo":{"callbackPrefix":"https://example.com/vipps/callbacks-for-payment-update-from-vipps","returnUrl":"https://example.com/vipps/fallback-result-page-for-both-success-and-failure/acme-shop-123-order123abc","callbackAuthorizationToken":"c172ad8d-9499-41d4-b8ff-c689be6455e9","termsAndConditionsUrl":"https://example.com/vipps/terms-and-conditions"},"transaction":{"amount":{"currency":"NOK","value":2000},"reference":"store-order-123","paymentDescription":"One pair of socks"},"logistics":{"dynamicOptionsCallback":"https://example.com/vipps/dynamiclogisticsoption","fixedOptions":[{"amount":{"currency":"NOK","value":5000},"id":"postenservicepakke1","priority":1,"brand":"Bring","product":"Package to home","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"NOK","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"Package to pickup point","isDefault":false,"description":"Pick up your package at a pickup point","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}]},"prefillCustomer":{"firstName":"Ola","lastName":"Nordmann","email":"ola.nordmann@vipps.no","phoneNumber":"+4748644347","streetAddress":"Robert Levins gate 5","city":"Oslo","postalCode":"0150","country":"NO"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
          application/*+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/InitiateSessionRequest'
              description: Request to set up a Checkout session
            examples:
              Postman:
                summary: Postman
                value: {"merchantInfo":{"callbackPrefix":"{{callbackPrefix}}","returnUrl":"{{fallBack}}","callbackAuthorizationToken":"{{$guid}}","termsAndConditionsUrl":"{{termsAndConditionsUrl}}"},"transaction":{"amount":{"currency":"{{currency}}","value":1000},"reference":"{{orderId}}","paymentDescription":"{{transactionTextInitiate}}"},"logistics":{"dynamicOptionsCallback":"{{dynamicOptionsCallbackUrl}}","fixedOptions":[{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke1","priority":1,"brand":"Posten","product":"home delivery","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"{{currency}}","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"pick-up in store","isDefault":false,"description":"Pick up your package at the local store.","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}],"integrations":{"porterbuddy":{"publicToken":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","apiKey":"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1Ni ","origin":{"name":"{{firstName}} {{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","address":{"streetAddress":"{{streetAddress}}","postalCode":"{{postalCode}}","city":"{{city}}","country":"{{country}}"}}}}},"prefillCustomer":{"firstName":"{{firstName}}","lastName":"{{lastName}}","email":"{{email}}","phoneNumber":"{{internationalMobileNumber}}","streetAddress":"{{streetAddress}}","city":"{{city}}","postalCode":"{{postalCode}}","country":"{{country}}"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
              Swagger:
                summary: Swagger
                value: {"merchantInfo":{"callbackPrefix":"https://example.com/vipps/callbacks-for-payment-update-from-vipps","returnUrl":"https://example.com/vipps/fallback-result-page-for-both-success-and-failure/acme-shop-123-order123abc","callbackAuthorizationToken":"c172ad8d-9499-41d4-b8ff-c689be6455e9","termsAndConditionsUrl":"https://example.com/vipps/terms-and-conditions"},"transaction":{"amount":{"currency":"NOK","value":2000},"reference":"store-order-123","paymentDescription":"One pair of socks"},"logistics":{"dynamicOptionsCallback":"https://example.com/vipps/dynamiclogisticsoption","fixedOptions":[{"amount":{"currency":"NOK","value":5000},"id":"postenservicepakke1","priority":1,"brand":"Bring","product":"Package to home","isDefault":true,"description":"Your package is delivered to your home.","isPickupPoint":false,"isPorterbuddy":false,"isInstabox":false},{"amount":{"currency":"NOK","value":300},"id":"postenservicepakke2","priority":2,"brand":"Posten","product":"Package to pickup point","isDefault":false,"description":"Pick up your package at a pickup point","isPickupPoint":true,"isPorterbuddy":false,"isInstabox":false}]},"prefillCustomer":{"firstName":"Ola","lastName":"Nordmann","email":"ola.nordmann@vipps.no","phoneNumber":"+4748644347","streetAddress":"Robert Levins gate 5","city":"Oslo","postalCode":"0150","country":"NO"},"customerInteraction":"customer_not_present","contactFields":true,"addressFields":true}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitiateSessionResponse'
              example: {"token":"eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uSWQiOiJUdHF1Y3I5ZDdKRHZ6clhYWTU1WUZRIiwic2Vzc2lvblBvbGxpbmdVUkwiOiJodHRwOi8vbG9jYWxob3N0OjUwMDAvY2hlY2tvdXQvc2Vzc2lvbi9UdHF1Y3I5ZDdKRHZ6clhYWTU1WUZRIn0.ln7VzZkNvUGu0HhyA_a8IbXQN35WhDBmCYC9IvyYL-I","checkoutFrontendUrl":"https://vippscheckout.vipps.no/v1/","pollingUrl":"https://api.vipps.no/checkout/v1/session/31gf1g413121"}
      callbacks:
        Dynamic logistics:
          '{$request.body#/logistics/dynamicOptionsCallback}':
            post:
              summary: Callback for dynamic merchant logistics options
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/MerchantLogisticsCallbackRequestBody'
                    examples:
                      Swagger:
                        summary: Swagger
                        value: '{"StreetAddress":"Robert Levins gate 5","PostalCode":"0150","Region":"Oslo","Country":"NO"}'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully.
                  content:
                    application/json:
                      schema:
                        type: array
                        items:
                          $ref: '#/components/schemas/MerchantCallbackLogisticsOptions'
                4XX:
                  description: 'If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. '
                5XX:
                  description: 'If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. '
        Payment completed:
          '{$request.body#/merchantInfo/callbackPrefix}/checkout/v2/order/{$request.body#/transaction/reference}':
            post:
              summary: Callback for session completed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/PaymentCallbackRequestDto'
                    examples:
                      Swagger:
                        summary: Swagger
                        value: '{"SessionId":"v52EtjZriRmGiKiAKHByK2","MerchantSerialNumber":"59474","Reference":"acme-shop-123-order123abc","SessionState":0,"PaymentMethod":0,"PaymentDetails":{"Amount":{"Value":10000,"Currency":"NOK"},"State":1},"UserDetails":{"FirstName":"Ada","LastName":"Lovelace","PhoneNumber":"4791234567","Email":"user@example.com","UserInfoSub":"fe0ffa07-5524-445a-9692-13a89222165b"},"ShippingDetails":{"FirstName":"Ada","LastName":"Lovelace","Email":"user@example.com","PhoneNumber":"4791234567","StreetAddress":"Robert Levins gate 5","PostalCode":"0154","Region":"Oslo","Country":"NO","ShippingMethodId":"postenservicepakke1","PickupPoint":{"Id":"123","Name":"Storo Storsenter","Address":"Vitaminveien 7","PostalCode":"0485","City":"OSLO","Country":"NO","Instabox":null}},"BillingDetails":{"FirstName":"Ada","LastName":"Lovelace","Email":"user@example.com","PhoneNumber":"4791234567","StreetAddress":"Robert Levins gate 5","PostalCode":"0154","Region":"Oslo","Country":"NO"}}'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully.
                4XX:
                  description: 'If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. '
                5XX:
                  description: 'If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure. '
  '/v2/session/{sessionId}':
    get:
      tags:
        - Session
      summary: Get session info
      description: "Transaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          description: 'The Id of the session. Example: "v52EtjZriRmGiKiAKHByK2".'
          required: true
          schema:
            type: string
            default: '{{sessionId}}'
        - name: Vipps-System-Name
          in: header
          schema:
            type: string
            default: '{{vipps_system_name}}'
            example: Acme Enterprises Ecommerce DeLuxe
        - name: Vipps-System-Version
          in: header
          schema:
            type: string
            default: '{{vipps_system_version}}'
            example: '3.1.2'
        - name: Vipps-System-Plugin-Name
          in: header
          schema:
            type: string
            default: '{{vipps_system_plugin_name}}'
            example: acme-webshop
        - name: Vipps-System-Plugin-Version
          in: header
          schema:
            type: string
            default: '{{vipps_system_plugin_version}}'
            example: '4.5.6'
        - name: client_id
          in: header
          schema:
            type: string
            default: '{{client_id}}'
            example: fb492b5e-7907-4d83-bc20-c7fb60ca35de
        - name: client_secret
          in: header
          schema:
            type: string
            default: '{{client_secret}}'
            example: Y8Kteew6GE3ZmeycEt6egg==
        - name: Ocp-Apim-Subscription-Key
          in: header
          schema:
            type: string
            default: '{{Ocp-Apim-Subscription-Key}}'
            example: 0f14ebcab0eb4b29ae0cb90d91b4a84a
        - name: Merchant-Serial-Number
          in: header
          schema:
            type: string
            default: '{{merchantSerialNumber}}'
            example: '123456'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSessionResponse'
              example: {"sessionId":"v52EtjZriRmGiKiAKHByK2","reference":"acme-shop-123-order123abc","sessionState":"SessionStarted","paymentMethod":"Wallet","paymentDetails":{"amount":{"value":10000,"currency":"NOK"},"state":"AUTHORISED"},"shippingDetails":{"firstName":"Ada","lastName":"Lovelace","email":"user@example.com","phoneNumber":"4791234567","streetAddress":"Robert Levins gate 5","postalCode":"0154","region":"Oslo","country":"NO","shippingMethodId":"postenservicepakke1","pickupPoint":{"id":"123","name":"Storo Storsenter","address":"Vitaminveien 7","postalCode":"0485","city":"OSLO","country":"NO"}},"billingDetails":{"firstName":"Ada","lastName":"Lovelace","email":"user@example.com","phoneNumber":"4791234567","streetAddress":"Robert Levins gate 5","postalCode":"0154","region":"Oslo","country":"NO"}}
        '404':
          description: The specified session id is unknown.
components:
  schemas:
    BasicSessionState:
      enum:
        - SessionStarted
        - SessionTerminated
      type: string
    BillingDetails:
      type: object
      properties:
        firstName:
          type: string
          description: 'Example: "Ada"'
        lastName:
          type: string
          description: 'Example: "Lovelace"'
        email:
          type: string
          description: 'Example: "user@example.com"'
        phoneNumber:
          type: string
          description: 'If no country code is provided, defaults to Norway (47). Example: "4791234567"'
        streetAddress:
          type: string
          description: 'Example: "Robert Levins gate 5"'
          nullable: true
        postalCode:
          type: string
          description: 'Example: "0154"'
          nullable: true
        region:
          type: string
          description: 'Example: "Oslo"'
          nullable: true
        country:
          type: string
          description: 'The ISO-3166-1 Alpha-2 representation of the country. Example: "NO"'
          nullable: true
      additionalProperties: false
      description: Defines the details of the billing
    CallbackPaymentDetails:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: ''
        state:
          allOf:
            - $ref: '#/components/schemas/PaymentState'
          description: ''
      additionalProperties: false
      description: Defines the details of the payment.
    CheckoutSessionThirdPartyInformationHeaders:
      type: object
      properties:
        vipps-System-Name:
          type: string
          description: 'The name of the ecommerce solution. Example: "Acme Enterprises Ecommerce DeLuxe".'
        vipps-System-Version:
          type: string
          description: 'The version number of the ecommerce solution. Example: "3.1.2".'
        vipps-System-Plugin-Name:
          type: string
          description: 'The name of the ecommerce plugin. Example: "acme-webshop".'
        vipps-System-Plugin-Version:
          type: string
          description: 'The version number of the ecommerce plugin. Example: "4.5.6".'
      additionalProperties: false
      description: Information about the merchant system.
    CommonAmount:
      type: object
      properties:
        value:
          type: integer
          description: Must be in Minor Units. The smallest unit of a currency. Example 100 NOK = 10000.
          format: int32
        currency:
          type: string
          description: 'The currency identifier according to ISO 4217. Example: "NOK"'
      additionalProperties: false
      description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
    GetSessionResponse:
      type: object
      properties:
        sessionId:
          type: string
          description: 'The Id of the session. Example: "123123".'
        reference:
          type: string
          description: 'The merchant''s unique reference for the transaction. Also known as OrderId. Example: "acme-shop-123-order123abc". See https://vippsas.github.io/vipps-developer-docs/docs/vipps-developers/common-topics/orderid'
        sessionState:
          allOf:
            - $ref: '#/components/schemas/BasicSessionState'
          description: 'The state of the session. Example: "SessionStarted". The state of the payment is in PaymentDetails.State.'
        paymentMethod:
          allOf:
            - $ref: '#/components/schemas/PaymentMethod'
          description: ''
          nullable: true
        paymentDetails:
          allOf:
            - $ref: '#/components/schemas/ResponsePaymentDetails'
          description: ''
          nullable: true
        userDetails:
          allOf:
            - $ref: '#/components/schemas/ResponseUserDetails'
          description: ''
          nullable: true
          deprecated: true
        shippingDetails:
          allOf:
            - $ref: '#/components/schemas/ShippingDetails'
          description: Defines the details of the shipping
          nullable: true
        billingDetails:
          allOf:
            - $ref: '#/components/schemas/BillingDetails'
          description: Defines the details of the billing
          nullable: true
      additionalProperties: false
      description: Session information
    InitiateSessionRequest:
      type: object
      properties:
        merchantInfo:
          allOf:
            - $ref: '#/components/schemas/PaymentMerchantInfo'
          description: ''
        transaction:
          allOf:
            - $ref: '#/components/schemas/PaymentTransaction'
          description: ''
        logistics:
          allOf:
            - $ref: '#/components/schemas/Logistics'
          description: ''
          nullable: true
        prefillCustomer:
          allOf:
            - $ref: '#/components/schemas/PrefillCustomer'
          description: 'If customer information is known, it can be prefilled.'
          nullable: true
        customerInteraction:
          type: string
          description: 'If customer is physically present: "customer_present", otherwise: "customer_not_present".'
          nullable: true
        contactFields:
          type: boolean
          description: 'If false; disables contact information for the customer in the checkout. If false, AddressFields must also be false.'
        addressFields:
          type: boolean
          description: 'If false; disables address information for the customer in the checkout. If true, ContactFields must also be true.'
        userFlow:
          type: string
          description: 'One of the following: "WEB_REDIRECT", "NATIVE_REDIRECT". To ensure having a return URL based on an app URL, use "NATIVE_REDIRECT".'
          nullable: true
        requireUserInfo:
          type: boolean
          description: 'Requires the customer to consent to share their email and openid sub with the merchant to be able to make a wallet payment (default: false).'
          nullable: true
      additionalProperties: false
      description: Request to set up a Checkout session
    InitiateSessionResponse:
      type: object
      properties:
        token:
          type: string
          description: 'The token to be provided to Checkout. Example: "eyJhbGciOiJodHRwOi8vd3d3LnczLm9yZy8yMDAxLzA0L3htbGRzaWctbW9yZSNobWFjLXNoYTI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uSWQiOiJUdHF1Y3I5ZDdKRHZ6clhYWTU1WUZRIiwic2Vzc2lvblBvbGxpbmdVUkwiOiJodHRwOi8vbG9jYWxob3N0OjUwMDAvY2hlY2tvdXQvc2Vzc2lvbi9UdHF1Y3I5ZDdKRHZ6clhYWTU1WUZRIn0.ln7VzZkNvUGu0HhyA_a8IbXQN35WhDBmCYC9IvyYL-I"'
        checkoutFrontendUrl:
          type: string
          description: 'The URL of the checkout frontend. Example: "https://vippscheckout.vipps.no/v1/".'
        pollingUrl:
          type: string
          description: 'The URL to poll for session information. Example: "https://api.vipps.no/checkout/v1/session/31gf1g413121".'
      additionalProperties: false
      description: Response from initiating a session.
    Instabox:
      type: object
      properties:
        clientId:
          type: string
          description: The client id provided to you by Instabox
        clientSecret:
          type: string
          description: The client secret provided to you by Instabox
      additionalProperties: false
      description: Configuration required to enable Instabox logistics options
    InstaboxBookingDetails:
      type: object
      properties:
        availabilityToken:
          type: string
          description: Identifies when the delivery options were fetched
        serviceType:
          type: string
          description: Identifies the service (For example "EXPRESS")
        sortCode:
          type: string
          description: Identifies the location
      additionalProperties: false
      description: Details needed to book an instabox order
    Integrations:
      type: object
      properties:
        porterbuddy:
          allOf:
            - $ref: '#/components/schemas/Porterbuddy'
          description: Configuration required to enable Porterbuddy logistics options
          nullable: true
        instabox:
          allOf:
            - $ref: '#/components/schemas/Instabox'
          description: Configuration required to enable Instabox logistics options
          nullable: true
      additionalProperties: false
    Logistics:
      type: object
      properties:
        dynamicOptionsCallback:
          type: string
          description: 'Merchant''s Callback URL for providing dynamic logistics options based on customer address. Example: "https://example.com/vipps/dynamiclogisticsoption". Can not be used with AddressFields set to false.'
          nullable: true
        fixedOptions:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsOption'
          description: Fixed list of logistics options.
          nullable: true
        integrations:
          allOf:
            - $ref: '#/components/schemas/Integrations'
          description: Some optional checkout features require carrier-specific configuration. Can not be used with AddressFields set to false.
          nullable: true
      additionalProperties: false
      description: "If both dynamic and fixed options are specified, dynamic options is provided to the user.\r\nIf no DynamicOptionsCallback is provided, only fixed logistics options will be used.\r\nWhen using dynamic shipping we recommend that you define logistics.fixedOptions as a backup.\r\nIf the callback does not resolve successfully within 8 seconds, returns null or an empty list the system will fall back to static options.\r\nIf no fallback options are provided, the user will be presented with an error and will not be able to continue with the checkout."
    LogisticsOption:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/RequestAmount'
          description: ''
        id:
          maxLength: 200
          minLength: 1
          type: string
          description: Unique identifier for the shipping option and is returned in the callback and polling endpoint. Example:"postenservicepakke".
        priority:
          minimum: 0
          type: integer
          description: 'Allows specifying the order of the options explicitly by ascending order. Example: "2".'
          format: int32
          nullable: true
        brand:
          maxLength: 255
          type: string
          description: 'The logistics provider. This is used to display a logo next to the shipping option. Currently "posten", "helthjem" and "postnord" logos are supported. If none of these are given, a generic logo will be displayed instead.'
        product:
          maxLength: 255
          type: string
          description: 'The shipping option product name. Is used to distinguish different options that the logistics providers offer (e.g., "pick-up in store", "home delivery", "mailbox"). This will be displayed in the title of the shipping option.'
        isDefault:
          type: boolean
          description: 'If the option should be pre-checked for the customer. Only one option should have this as true. If no option has IsDefault=true, the option with the lowest priority number is chosen as default.'
          nullable: true
        description:
          type: string
          description: 'An optional text that will show under the price. This can typically include estimates of delivery or other information. Example: "Pick up your package at the local store".'
          nullable: true
        isPickupPoint:
          type: boolean
          description: If Checkout should display pickup points. Can not be used with AddressFields set to false
          nullable: true
        isPorterbuddy:
          type: boolean
          description: If this is a Porterbuddy shipping option. Can not be used with AddressFields set to false
          nullable: true
        isInstabox:
          type: boolean
          description: If this is an Instabox shipping option. Can not be used with AddressFields set to false
          nullable: true
      additionalProperties: false
      description: A logistics option to be presented to the customer
    MerchantAuthInfoHeaders:
      required:
        - client_id
        - client_secret
        - merchant-Serial-Number
        - ocp-Apim-Subscription-Key
      type: object
      properties:
        client_id:
          minLength: 1
          type: string
          description: 'Client ID for the merchant (the "username"). Found in the Vipps portal. Example: "fb492b5e-7907-4d83-bc20-c7fb60ca35de".'
        client_secret:
          minLength: 1
          type: string
          description: 'Client Secret for the merchant (the "password"). Found in the Vipps portal. Example: "Y8Kteew6GE3ZmeycEt6egg==".'
        ocp-Apim-Subscription-Key:
          minLength: 1
          type: string
          description: 'Vipps Subscription key for the API product. Found in the Vipps portal. Example: "0f14ebcab0eb4b29ae0cb90d91b4a84a".'
        merchant-Serial-Number:
          minLength: 1
          type: string
          description: 'Vipps assigned unique number for a merchant. Found in the Vipps portal. Example: "123456".'
      additionalProperties: false
      description: Headers required to retrieve an access token.
    MerchantCallbackLogisticsOptions:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
        id:
          type: string
        priority:
          type: integer
          format: int32
        brand:
          type: string
        product:
          type: string
        isDefault:
          type: boolean
        description:
          type: string
          nullable: true
        isPickupPoint:
          type: boolean
          nullable: true
        isPorterbuddy:
          type: boolean
          nullable: true
      additionalProperties: false
    MerchantLogisticsCallbackRequestBody:
      type: object
      properties:
        streetAddress:
          type: string
          description: 'Example: "Robert Levins gate 5"'
        postalCode:
          type: string
          description: 'Example: "0154"'
        region:
          type: string
          description: 'Example: "Oslo"'
        country:
          type: string
          description: 'The ISO-3166-1 Alpha-2 representation of the country. Example: "NO"'
      additionalProperties: false
      description: Information about the customer address used when retrieving dynamic logistics options.
    PaymentCallbackRequestDto:
      type: object
      properties:
        sessionId:
          type: string
          description: 'The Id of the session. Example: "123123".'
        merchantSerialNumber:
          type: string
          description: 'The merchant serial number for the sales unit. Example: "59474"'
        reference:
          type: string
          description: 'The merchant''s unique reference for the transaction. Also known as Reference. Example: "acme-shop-123-order123abc". See https://vippsas.github.io/vipps-developer-docs/docs/vipps-developers/common-topics/orderid"'
        sessionState:
          allOf:
            - $ref: '#/components/schemas/PaymentCallbackState'
          description: 'The state of the session. Example: "PaymentSuccessful"'
        paymentMethod:
          allOf:
            - $ref: '#/components/schemas/PaymentMethod'
          description: '"Wallet" or "Card"'
          nullable: true
        paymentDetails:
          allOf:
            - $ref: '#/components/schemas/CallbackPaymentDetails'
          description: ''
        userDetails:
          allOf:
            - $ref: '#/components/schemas/UserDetails'
          description: ''
          nullable: true
        shippingDetails:
          allOf:
            - $ref: '#/components/schemas/ShippingDetails'
          description: ''
          nullable: true
        billingDetails:
          allOf:
            - $ref: '#/components/schemas/BillingDetails'
          description: ''
          nullable: true
      additionalProperties: false
      description: Details provided in the session completed callback
    PaymentCallbackState:
      enum:
        - PaymentSuccessful
        - PaymentFailed
      type: string
    PaymentMerchantInfo:
      required:
        - returnUrl
      type: object
      properties:
        callbackPrefix:
          type: string
          description: 'Merchant base URL for callbacks. Example: "https://example.com/vipps/callbacks-for-payment-updates".'
        returnUrl:
          minLength: 1
          type: string
          description: 'Complete URL for redirecting customers to when the checkout is finished. Example: "https://example.com/vipps".'
        callbackAuthorizationToken:
          type: string
          description: 'The token will be supplied by the callback to the merchant as a header. Example: "iOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImllX3FXQ1hoWHh0MXpJ".'
        termsAndConditionsUrl:
          type: string
          description: 'Complete URL to the merchant''s terms and conditions. Example: "https://example.com/vipps/termsAndConditions".'
          nullable: true
      additionalProperties: false
    PaymentMethod:
      enum:
        - Wallet
        - Card
      type: string
    PaymentState:
      enum:
        - CREATED
        - AUTHORISED
        - TERMINATED
      type: string
    PaymentTransaction:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/RequestAmount'
          description: ''
        reference:
          maxLength: 50
          minLength: 8
          pattern: '^[-a-zA-Z0-9]*$'
          type: string
          description: 'The merchant''s unique reference for the transaction. Also known as OrderId. Example: "acme-shop-123-order123abc". See https://vippsas.github.io/vipps-developer-docs/docs/vipps-developers/common-topics/orderid'
        paymentDescription:
          maxLength: 100
          minLength: 1
          type: string
          description: 'Description visible to the customer during payment. Example: "One pair of Vipps socks".'
      additionalProperties: false
    PickupPoint:
      type: object
      properties:
        id:
          type: string
          description: 'Pickup point id provided by the carrier. Example: 121648'
        name:
          type: string
          description: 'Pickup point name. Example: Extra Eiganes'
        address:
          type: string
          description: 'Pickup point''s street address. Example: VITAMINVEIEN 7'
        postalCode:
          type: string
          description: 'Pickup point''s postal code. Example: 0485'
        city:
          type: string
          description: 'Pickup point''s city. Example: OSLO'
        country:
          type: string
          description: 'Pickup point''s country. Example: NO'
        instabox:
          allOf:
            - $ref: '#/components/schemas/InstaboxBookingDetails'
          description: Instabox details
          nullable: true
      additionalProperties: false
      description: The pickup point the customer selected .
    Porterbuddy:
      type: object
      properties:
        publicToken:
          type: string
          description: The public key provided to you by Porterbuddy
        apiKey:
          type: string
          description: The API key provided to you by Porterbuddy
        origin:
          allOf:
            - $ref: '#/components/schemas/PorterbuddyOrigin'
          description: Information about the sender
      additionalProperties: false
      description: Configuration required to enable Porterbuddy logistics options
    PorterbuddyOrigin:
      type: object
      properties:
        name:
          type: string
          description: The name of your store
        email:
          type: string
          description: Your email address where Porterbuddy booking confirmation will be sent
        phoneNumber:
          type: string
          description: Your phone number where Porterbuddy may send you important messages
        address:
          allOf:
            - $ref: '#/components/schemas/PorterbuddyOriginAddress'
          description: Your address where Porterbuddy will pick up the parcels
      additionalProperties: false
      description: Details about the sender of the Porterbuddy parcels
    PorterbuddyOriginAddress:
      type: object
      properties:
        streetAddress:
          type: string
        postalCode:
          type: string
        city:
          type: string
        country:
          type: string
      additionalProperties: false
    PrefillCustomer:
      type: object
      properties:
        firstName:
          type: string
          description: 'Example: "Ada"'
        lastName:
          type: string
          description: 'Example: "Lovelace"'
        email:
          type: string
          description: 'Example: "user@example.com"'
        phoneNumber:
          type: string
          description: 'If no country code is provided, defaults to Norway (47). Example: "4791234567"'
        streetAddress:
          type: string
          description: 'Example: "Robert Levins gate 5"'
        city:
          type: string
          description: 'Example: "Oslo"'
        postalCode:
          type: string
          description: 'Example: "0154"'
        country:
          type: string
          description: 'The ISO-3166-1 Alpha-2 representation of the country. Example: "NO"'
      additionalProperties: false
      description: "Information about the customer to be prefilled.\r\n            \r\nIf any of the customer information is invalid such as the phone number,\r\nthe customer will be prompted to input new user information."
    RequestAmount:
      type: object
      properties:
        currency:
          type: string
          description: 'The currency identifier according to ISO 4217. Example: "NOK"'
        value:
          minimum: 0
          type: integer
          description: Must be in Minor Units. The smallest unit of a currency. Example 100 NOK = 10000.
          format: int32
          nullable: true
      additionalProperties: false
      description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
    ResponsePaymentDetails:
      type: object
      properties:
        amount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
        state:
          allOf:
            - $ref: '#/components/schemas/PaymentState'
          description: ''
        aggregate:
          allOf:
            - $ref: '#/components/schemas/TransactionAggregate'
          description: ''
          nullable: true
      additionalProperties: false
      description: Defines the details of the payment.
    ResponseUserDetails:
      type: object
      properties:
        firstName:
          type: string
          description: 'Example: "Ada"'
        lastName:
          type: string
          description: 'Example: "Lovelace"'
        phoneNumber:
          type: string
          description: 'If no country code is provided, defaults to Norway (47). Example: "4791234567"'
        email:
          type: string
          description: 'Example: "user@example.com"'
        userInfoSub:
          type: string
          description: 'If the UserInfo payment flow is used, this field will contain the openid sub.'
          nullable: true
      additionalProperties: false
      description: "Defines the user details of the recipient of the ordered goods.\r\n            \r\nResponseUserDetails is deprecated. Use ShippingDetailsV2 instead"
      deprecated: true
    ShippingDetails:
      type: object
      properties:
        firstName:
          type: string
          description: 'Example: "Ada"'
          nullable: true
        lastName:
          type: string
          description: 'Example: "Lovelace"'
          nullable: true
        email:
          type: string
          description: 'Example: "user@example.com"'
          nullable: true
        phoneNumber:
          type: string
          description: 'If no country code is provided, defaults to Norway (47). Example: "4791234567"'
          nullable: true
        streetAddress:
          type: string
          description: 'Example: "Robert Levins gate 5"'
          nullable: true
        postalCode:
          type: string
          description: 'Example: "0154"'
          nullable: true
        region:
          type: string
          description: 'Example: "Oslo"'
          nullable: true
        country:
          type: string
          description: 'The ISO-3166-1 Alpha-2 representation of the country. Example: "NO"'
          nullable: true
        shippingMethodId:
          type: string
          description: 'Id of the shipping method. Example: "123abc"'
          nullable: true
        pickupPoint:
          allOf:
            - $ref: '#/components/schemas/PickupPoint'
          description: ''
          nullable: true
      additionalProperties: false
      description: Defines the details of the shipping
    TransactionAggregate:
      type: object
      properties:
        cancelledAmount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
          nullable: true
        capturedAmount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
          nullable: true
        refundedAmount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
          nullable: true
        authorizedAmount:
          allOf:
            - $ref: '#/components/schemas/CommonAmount'
          description: 'Amounts are specified in minor units. For Norwegian kroner (NOK) that means 1 kr = 100 øre. Example: 499 kr = 49900 øre.'
          nullable: true
      additionalProperties: false
      description: Defines the details of the transaction
    UserDetails:
      type: object
      properties:
        firstName:
          type: string
          description: 'Example: "Ada"'
        lastName:
          type: string
          description: 'Example: "Lovelace"'
        phoneNumber:
          type: string
          description: 'If no country code is provided, defaults to Norway (47). Example: "4791234567"'
        email:
          type: string
          description: 'Example: "user@example.com"'
        userInfoSub:
          type: string
          description: 'If the UserInfo payment flow is used, this field will contain the openid sub.'
          nullable: true
      additionalProperties: false
      description: Defines the details of the user.