openapi: 3.0.1
info:
  title: checkout-backend-external.API
  version: v2
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /v2/session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: '#/components/schemas/CheckoutSessionThirdPartyInformationHeaders'
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: '#/components/schemas/MerchantAuthInfoHeadersV2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDtoV2'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDtoV2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDtoV2'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionInitiationResponse'
      callbacks:
        Dynamic logistics:
          '{$request.body#/logistics/dynamicOptionsCallback}':
            post:
              summary: Callback for dynamic merchant logistics options
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/MerchantLogisticsCallbackRequestDto'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                4XX:
                  description: If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure.
                5XX:
                  description: If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure.
        Payment completed:
          '{$request.body#/merchantInfo/callbackPrefix}/checkout/v2/order/{$request.body#/transaction/reference}':
            post:
              summary: Callback for session completed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/CallbackSessionDetailsDto'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                4XX:
                  description: If your server returns an HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure.
                5XX:
                  description: If your server returns an HTTP status code indicating a server-side error the delivery will be treated as a failure.
  '/v2/session/{sessionId}':
    get:
      tags:
        - Session
      summary: "Retrieves sessionInfo from database when merchant polls.\r\nTransaction information, user information and shipping information are included in the response\r\nif the SessionState is PaymentInitiated"
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: '#/components/schemas/CheckoutSessionThirdPartyInformationHeaders'
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: '#/components/schemas/MerchantAuthInfoHeadersV2'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponseV2'
        '404':
          description: The specified session id is unknown.
  /v2/session/cancel:
    post:
      tags:
        - Session
      summary: Cancels the current Checkout session if payment is not initiated
      parameters:
        - name: checkoutSessionThirdPartyInformationHeaders
          in: header
          schema:
            $ref: '#/components/schemas/CheckoutSessionThirdPartyInformationHeaders'
        - name: merchantAuthInfoHeaders
          in: header
          schema:
            $ref: '#/components/schemas/MerchantAuthInfoHeadersV2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSessionRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/CancelSessionRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CancelSessionRequest'
      responses:
        '200':
          description: ''
        '404':
          description: The specified session id is unknown.
components:
  schemas:
    Amount:
      type: object
      properties:
        currency:
          type: string
          nullable: true
        value:
          minimum: 0
          type: integer
          format: int32
          nullable: true
      additionalProperties: false
    AmountV2:
      type: object
      properties:
        value:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
      additionalProperties: false
    BillingDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
      description: Defines the details of the invoiced customer (purchaser) of the order.
    CallbackSessionAmount:
      type: object
      properties:
        value:
          type: integer
          format: int32
        currency:
          type: string
          nullable: true
      additionalProperties: false
    CallbackSessionBillingDetails:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    CallbackSessionDetailsDto:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
        merchantSerialNumber:
          type: string
          nullable: true
        sessionState:
          type: string
          nullable: true
        orderId:
          type: string
          nullable: true
        apiVersion:
          type: string
          nullable: true
        billingDetails:
          $ref: '#/components/schemas/CallbackSessionBillingDetails'
        shippingDetails:
          $ref: '#/components/schemas/CallbackSessionShippingDetails'
        paymentDetails:
          $ref: '#/components/schemas/CallbackSessionPaymentDetails'
        callbackUrlPrefix:
          type: string
          nullable: true
        callbackAuthorizationToken:
          type: string
          nullable: true
      additionalProperties: false
    CallbackSessionPaymentDetails:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/CallbackSessionAmount'
        state:
          type: string
          nullable: true
        paymentMethod:
          type: string
          nullable: true
      additionalProperties: false
    CallbackSessionShippingDetails:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        shippingMethodId:
          type: string
          nullable: true
      additionalProperties: false
    CancelSessionRequest:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationRequestDtoV2:
      type: object
      properties:
        merchantInfo:
          $ref: '#/components/schemas/PaymentMerchantInfo'
        transaction:
          $ref: '#/components/schemas/PaymentTransaction'
        logistics:
          $ref: '#/components/schemas/Logistics'
        prefillCustomer:
          $ref: '#/components/schemas/PrefillCustomer'
        customerInteraction:
          type: string
          nullable: true
        contactFields:
          type: boolean
        addressFields:
          type: boolean
        userFlow:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionInitiationResponse:
      type: object
      properties:
        token:
          type: string
          nullable: true
        checkoutFrontendUrl:
          type: string
          nullable: true
        pollingUrl:
          type: string
          nullable: true
      additionalProperties: false
    CheckoutSessionThirdPartyInformationHeaders:
      type: object
      properties:
        vipps-System-Name:
          type: string
          nullable: true
        vipps-System-Version:
          type: string
          nullable: true
        vipps-System-Plugin-Name:
          type: string
          nullable: true
        vipps-System-Plugin-Version:
          type: string
          nullable: true
      additionalProperties: false
    Logistics:
      type: object
      properties:
        dynamicOptionsCallback:
          type: string
          nullable: true
        fixedOptions:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsOption'
          nullable: true
      additionalProperties: false
    LogisticsOption:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        id:
          maxLength: 200
          minLength: 1
          type: string
          nullable: true
        priority:
          minimum: 0
          type: integer
          format: int32
          nullable: true
        brand:
          maxLength: 255
          type: string
          nullable: true
        product:
          maxLength: 255
          type: string
          nullable: true
        isDefault:
          type: boolean
          nullable: true
        description:
          type: string
          nullable: true
      additionalProperties: false
    MerchantAuthInfoHeadersV2:
      type: object
      properties:
        client_id:
          type: string
          nullable: true
        client_secret:
          type: string
          nullable: true
        ocp-Apim-Subscription-Key:
          type: string
          nullable: true
        merchant-Serial-Number:
          type: string
          nullable: true
      additionalProperties: false
    MerchantLogisticsCallbackRequestDto:
      type: object
      properties:
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    PaymentDetailsV2:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/AmountV2'
        state:
          type: string
          nullable: true
        aggregate:
          $ref: '#/components/schemas/TransactionAggregateV2'
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        callbackPrefix:
          type: string
          nullable: true
        returnUrl:
          type: string
          nullable: true
        callbackAuthorizationToken:
          type: string
          nullable: true
        termsAndConditionsUrl:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        reference:
          maxLength: 50
          minLength: 8
          pattern: '^[-a-zA-Z0-9]*$'
          type: string
          nullable: true
        paymentDescription:
          type: string
          nullable: true
      additionalProperties: false
    PrefillCustomer:
      required:
        - phoneNumber
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
        streetAddress:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
      additionalProperties: false
    SessionResponseV2:
      type: object
      properties:
        sessionId:
          type: string
          nullable: true
        reference:
          type: string
          nullable: true
        sessionState:
          type: string
          nullable: true
        paymentMethod:
          type: string
          nullable: true
        paymentDetails:
          $ref: '#/components/schemas/PaymentDetailsV2'
        userDetails:
          $ref: '#/components/schemas/UserDetailsV2'
        shippingDetails:
          $ref: '#/components/schemas/ShippingDetailsV2'
        billingDetails:
          $ref: '#/components/schemas/BillingDetailsV2'
      additionalProperties: false
    ShippingDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        streetAddress:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        shippingMethodId:
          type: string
          nullable: true
      additionalProperties: false
      description: "Defines the shipping details of the recipient of the ordered goods.\r\nThe recipient may or may not be the same as the invoiced customer."
    TransactionAggregateV2:
      type: object
      properties:
        cancelledAmount:
          $ref: '#/components/schemas/AmountV2'
        capturedAmount:
          $ref: '#/components/schemas/AmountV2'
        refundedAmount:
          $ref: '#/components/schemas/AmountV2'
        authorizedAmount:
          $ref: '#/components/schemas/AmountV2'
      additionalProperties: false
    UserDetailsV2:
      type: object
      properties:
        firstName:
          type: string
          nullable: true
        lastName:
          type: string
          nullable: true
        phoneNumber:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
      additionalProperties: false
      description: "Defines the user details of the recipient of the ordered goods.\r\n            \r\nUserDetailsV2 is deprecated. Use ShippingDetailsV2 instead"
      deprecated: true
