openapi: 3.0.1
info:
  title: checkout-backend.API
  version: v1
servers:
  - url: https://apitest.vipps.no/checkout
  - url: https://api.vipps.no/checkout
paths:
  /Healthcheck:
    get:
      tags:
        - Healthcheck
      summary: Check the health of the app.
      responses:
        '200':
          description: Health OK!
  '/login/{sessionId}':
    get:
      tags:
        - Login
      summary: This endpoint is polled on by the checkout-frontend application while the user completes the login flow in another tab.
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the CustomerData object for the given session id.
        '204':
          description: 'The specified session id is recognized, but no data is available yet (login flow not yet completed by user).'
        '404':
          description: The specified session id is unknown.
  /login/redirect:
    get:
      tags:
        - Login
      summary: "Redirect endpoint seen by user after login. Authenticates to the Login API\r\non behalf of the user, and fetches the required user information."
      responses:
        '200':
          description: Login successful or failed. User will be asked to close the tab and go back to the original page.
  '/Payment/{sessionId}':
    post:
      tags:
        - Payment
      summary: ''
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutPaymentInitiationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckoutPaymentInitiationRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CheckoutPaymentInitiationRequestDto'
      responses:
        '200':
          description: Payment initiated successfully.
        '400':
          description: 'The specified session id is known, but the payload is invalid.'
        '404':
          description: The specified session id is unknown.
        '409':
          description: 'The specified session id is known, but not in a state where a payment can be initiated.'
  /session:
    post:
      tags:
        - Session
      summary: "Creates a checkout session and returns a JWT token which wraps the login URL,\r\necom landing page url, free standing card page url"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionInitiationRequestDto'
      responses:
        '200':
          description: ''
components:
  schemas:
    CheckoutPaymentInitiationRequestDto:
      type: object
      properties:
        PhoneNumber:
          type: string
          nullable: true
        SkipLandingPage:
          type: boolean
      additionalProperties: false
    CheckoutSessionInitiationRequestDto:
      type: object
      properties:
        AuthInfo:
          $ref: '#/components/schemas/MerchantAuthInfo'
        CustomerInfo:
          $ref: '#/components/schemas/PaymentCustomerInfo'
        MerchantInfo:
          $ref: '#/components/schemas/PaymentMerchantInfo'
        Transaction:
          $ref: '#/components/schemas/PaymentTransaction'
      additionalProperties: false
    MerchantAuthInfo:
      type: object
      properties:
        ClientId:
          type: string
          nullable: true
        ClientSecret:
          type: string
          nullable: true
        OcpApimSubscriptionKey:
          type: string
          nullable: true
      additionalProperties: false
    PaymentCustomerInfo:
      type: object
      properties:
        MobileNumber:
          type: string
          nullable: true
      additionalProperties: false
    PaymentMerchantInfo:
      type: object
      properties:
        MerchantSerialNumber:
          type: string
          nullable: true
        CallbackPrefix:
          type: string
          nullable: true
        FallBack:
          type: string
          nullable: true
      additionalProperties: false
    PaymentTransaction:
      type: object
      properties:
        Amount:
          type: integer
          format: int32
        OrderId:
          type: string
          nullable: true
        TimeStamp:
          type: string
          nullable: true
        TransactionText:
          type: string
          nullable: true
        SkipLandingPage:
          type: boolean
      additionalProperties: false